<%- include("header", {}) %>

<div class="perfil-container">
    <h2 class="perfil-title">Perfil</h2>
</div>

<div class="container-profile">
    <!-- Sección de la imagen de perfil -->
    <div class="left-section">
        <form action="/perfil/upload" method="POST" enctype="multipart/form-data">
            <input type="file" name="profileImage" />
            <button type="submit">Subir Imagen</button>
        </form>
        
        <div class="image-container">
            <img id="preview" src="/images/default-profile.jpg" alt="Imagen de perfil" class="preview" />
        </div>
    </div>

    <!-- Sección de la información personal -->
    <div class="right-section">
        <div class="info-box">
            <h2 class="section-title">Información Personal</h2>
            <div id="userInfo"
                data-nombre="<%= nombre %>" 
                data-apellido="<%= apellido %>" 
                data-email="<%= email %>">
                <p><strong>Nombre:</strong> <span id="nombre"><%= nombre %></span></p>
                <p><strong>Apellido:</strong> <span id="apellido"><%= apellido %></span></p>
                <p><strong>Email:</strong> <span id="email"><%= email %></span></p>
                <button id="editButton" class="custom-button mt-3">Editar Información</button>
            </div>

            <!-- Formulario de edición -->
            <form id="editForm" style="display: none;" method="POST" action="/perfil/update">
                <div class="form-group">
                    <label for="editNombre">Nombre:</label>
                    <input type="text" id="editNombre" name="nombre" class="form-control" value="<%= nombre %>">
                </div>
                <div class="form-group">
                    <label for="editApellido">Apellido:</label>
                    <input type="text" id="editApellido" name="apellidos" class="form-control" value="<%= apellido %>">
                </div>
                <div class="form-group">
                    <label for="editEmail">Correo Electrónico:</label>
                    <input type="email" id="editEmail" name="email" class="form-control" value="<%= email %>">
                </div>
                <button type="submit" class="submit-btn">Guardar Cambios</button>
                <button type="button" id="cancelButton" class="custom-button mt-3">Cancelar</button>
            </form>
        </div>
    </div>
</div>

<%- include("footer", {}) %>
<script src="/javascripts/perfil.js"></script>
